<div class="container-fluid">
	<div class="row">
		<div class="col col-6">
			<%=form_tag(action: "create", method: "post") do%>
					<%= text_field_tag(:title) %>
					<%= submit_tag(value= "Créer une liste") %>
			<%end%>
		</div>
	</div>
	<div class="row">
		<% @cards.reverse.each do |card| %>
		<div class="col col-3 mt-5">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title mb-4"><%= card.title %> <%= link_to "X", card_path(id: card.id), method: "delete", action: 'destroy', class: "btn btn-warning btn-sm float-right"%></h5>
					
					<% card.items.order(created_at: :asc).each do |item|%>
					<p>
					<%= content_tag(:span, item.name, :class => ['card-text', (item.checked == true ? 'test' : nil)]) %>

					<%= link_to "", item_path(item.id), method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' }, class: "fas fa-trash-alt float-right" %>
					

					<%= link_to "", item_path(item.id), method: "patch", class: "fas fa-backspace float-right pr-2" %>
					</p>
					 <%= form_tag update_number_two_item_path(item.id), action: 'update', controller: "items", method: :put, class: "mt-4" do %>
					 <%= text_field_tag 'name', item.name, class: "form-control" %>
					 <%= submit_tag(value= "Modifier") %>
					 <%end%>
					<% end %>
					<%=form_tag(controller: "items", action: "create", method: "post") do%>
					<%= text_field_tag(:name) %>
					<%= hidden_field_tag  :card_id, card.id %>
					<%= submit_tag(value= "Créer un item") %>
					<%end%>
			
				</div>
			</div>
		</div>
		<%end%>
	</div>
</div>

<script type="text/javascript">

var barrer = document.querySelectorAll('.fa-backspace')
var items = document.querySelectorAll('.card-text')
var getPreviousSibling = function (elem, selector) {
	// Get the next sibling element
	var sibling = elem.previousElementSibling;
	// If the sibling matches our selector, use it
	// If not, jump to the next sibling and continue the loop
	while (sibling) {
		if (sibling.matches(selector)) return sibling;
		sibling = sibling.previousElementSibling;
	}

};

barrer.forEach((barre) => {
	barre.addEventListener('click', () => {
		getPreviousSibling(barre, 'span').classList.toggle('test')

	})
})

var titles = document.querySelectorAll('h5')


titles.forEach((title) => {
	title.addEventListener('click', () => {
		title.contentEditable = "true";
	})
})


</script>