<div class="container-fluid">
	<div class="row">
		<div class="col col-6">
			<%=form_tag(action: "create", method: "post") do%>
					<%= text_field_tag(:title) %>
					<%= submit_tag(value= "Créer une liste") %>
			<%end%>
		</div>
	</div>
	<div class="row">
		<% @cards.reverse.each do |card| %>
		<div class="col col-3 mt-5">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><%= card.title %> <%= link_to "X", card_path(id: card.id), method: "delete", action: 'destroy', class: "btn btn-warning btn-sm ml-4"%></h5>
					
					<% card.items.each do |item| %>

					<p class="card-text"><%= item.name %>  
					<%= link_to "", item_path(item.id), method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' }, class: "fas fa-trash-alt float-right" %>
		
					<i class="fas fa-backspace float-right pr-2"></i>
					</p>

					
					
					<%end%>
					<%=form_tag(controller: "items", action: "create", method: "post") do%>
					<%= text_field_tag(:name) %>
					<%= hidden_field_tag  :card_id, card.id %>
					<%= submit_tag(value= "Créer un item") %>
					<%end%>
			
				</div>
			</div>
		</div>
		<%end%>
	</div>
</div>

<script type="text/javascript">

var c = document.querySelectorAll(".card-text");
c.forEach((item)=> {
	item.addEventListener('click', () => {
		item.classList.toggle("test");
	})
})

</script>